<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- CSS only -->
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<nav th:replace="base/navbar::mynav"></nav>
	
	<form class="box" th:action="@{/registerUser}" th:object="${user}" method="POST">
	<h1>Register</h1>
	<input type="text" th:field="*{email}" placeholder="Email">
	<input type="password" th:field="*{password}" placeholder="Password">
	<input type="text" th:field="*{firstname}" placeholder="Firstname">
	<input type="text" th:field="*{lastname}" placeholder="Lastname">
	<input type="submit" value="Sign up">
	</form>
	
</body>
</html>